<!-- Navbar de Secciones -->
<div class="nav-tabs-container">
    <a href="{% url 'admin_dashboard' %}"
        class="nav-tab-item {% if pestana_activa == 'usuarios' or not pestana_activa %}active{% endif %}">👥
        Usuarios</a>
    <a href="{% url 'admin_cursos_lista' %}"
        class="nav-tab-item {% if pestana_activa == 'cursos' %}active{% endif %}">📚 Cursos Registrados</a>

    <button type="button" class="nav-tab-item" id="btnAbrirTemporadas" onclick="abrirModalTemporadas()"
        style="background:none; border:none; cursor:pointer; font-size:inherit; font-family:inherit;">
        🗓️ Temporadas / Períodos
    </button>
    <a href="{% url 'admin_logs_actividad' %}"
        class="nav-tab-item {% if pestana_activa == 'logs' %}active{% endif %}">📋 Auditoría y Logs</a>
</div>
{% include 'componentes/modal_temporadas.html' %}