{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Academia Galeno{% endblock %}</title>
    <link rel="icon" type="image/jpeg" href="{% static 'image/logo.jpeg' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=3.2">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- 1. Barra Superior Reutilizada -->
    {% include 'componentes/topbar_intranet.html' %}

    <!-- 2. Alertas Centralizadas Reutilizadas -->
    {% include 'componentes/mensajes.html' %}

    <!-- 3. Contenido Dinámico según la vista -->
    <main class="main-content-layout">
        {% block content %}
        {% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
    <script src="{% static 'js/intranet.js' %}?v=1.0" defer></script>
</body>
</html>